<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <form [formGroup]="form" (ngSubmit)="onSubmit()" enctype="multipart/form-data" novalidate class="form form-horizontal">
                                <div class="form-group">
                                        <input name="title" type="text" class="form-control" placeholder="Title of the Post" formControlName="title" />
                                    </div>
                                <div class="form-group">
                                    <textarea name="content" class="form-control" placeholder="Content of the Post" formControlName="content"></textarea>
                                </div>
                                <div class="form-group text-right">
                                    <input [disabled]="!form.valid" type="submit" name="submit" value="Post" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" />
                                </div>
                            </form>
                        </div>
                        
                        <div class="col-md-6">
                            Post List
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>