.thread{
    width: 500px;
    
    float: right;
    margin-right: 700px;
    border: 1px #A0A0A0 solid;
}
.content{
    width: 100%;
    height: 80%;
    overflow: scroll;
}
.file-over {
    border: dotted 3px red;
}