<div class="container-fluid">
    <ul class="nav nav-pills nav-stacked">
        <li>
            <a routerLink="home" routerLinkActive="active">Home</a>
        </li>
        <li>
            <a routerLink="groups" routerLinkActive="active">Groups</a>
        </li>
        <li>
            <a routerLink="signup" routerLinkActive="active">SignUp</a>
        </li>
        <li>
            <a routerLink="set-password" routerLinkActive="active">SetPassword</a>
        </li>
        <li>
            <a routerLink="forgot-password" routerLinkActive="active">ForgotPassword</a>
        </li>
        <li>
            <a routerLink="primary-info" routerLinkActive="active">MyProfile</a>
        </li>
        <li>
            <a routerLink="personal" routerLinkActive="active">Personal</a>
        </li>
        <li>
            <a routerLink="experience" routerLinkActive="active">Experience</a>
        </li>
        <li>
            <a routerLink="messages" routerLinkActive="active">Messages</a>
        </li>
        <li>
            <a href="javascript:void(0);" (click)="logout()">Logout</a>
        </li>
    </ul>
</div>