<p>
  set-password works!
</p>

<form [formGroup] = "setPasswordForm" (ngSubmit) = "onSubmit(setPasswordForm.value)" id="setPasswordForm" class="form-horizontal">
<div class="col-md-8">
<!--<input type="hidden" name="user_id" formControlName="user_id">
<input type="hidden" name="password_token" value="linkcxo" formControlName="password_token">-->
<div class="form-group"
[ngClass]="{
    'has-danger': new_password.invalid && (new_password.dirty || new_password.touched),
    'has-success': new_password.valid && (new_password.dirty || new_password.touched)
}">
<div class="col-xs-5">
    <input type="new_password" class="form-control" placeholder="New password*" formControlName="new_password" password required>
</div>
<div *ngIf="new_password.errors && (new_password.dirty || new_password.touched)">
    <p *ngIf="new_password.errors.required" style="color:red">password is required</p>
    <p *ngIf="new_password.errors.pattern" style="color:red">Minimum Seven characters, at least one uppercase letter, one lowercase letter, one number and one special character</p>
</div>
</div>

<div class="form-group"
[ngClass]="{
    'has-danger': confirm_password.invalid && (confirm_password.dirty || confirm_password.touched),
    'has-success': confirm_password.valid && (confirm_password.dirty || confirm_password.touched)
}">
<div class="col-xs-5">
    <input type="password" class="form-control" placeholder="Confirm Password*" formControlName="confirm_password" required>
</div>
<div *ngIf="confirm_password.errors && (confirm_password.dirty || confirm_password.touched)">
    <p *ngIf="confirm_password.errors.required" style="color:red">Confirm Password is required</p>
    <p *ngIf="setPasswordForm.controls.confirm_password.errors?.equalTo" style="color:red">Password mismatch</p>
</div>
</div>
<div class="col-xs-4">
    <button type="submit" class="btn btn-primary" [disabled]="!setPasswordForm.valid">Submit</button>
</div>
</div>
</form>